<div id="maincontainer" class="container">
  <div class="row">
    <div class="headerimg">
      <h1 class="jumbo">
        {{title}}
      </h1>
      <h3>
        {{desc}}
      </h3>
      <p>
        {{desc2}}
      </p>
    </div>
    <alert></alert>
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col col-md-4">
      <desde [puntoin]="puntoPartida" (cambio)="cambiaPartida($event)"></desde>
    </div>
    <div *ngIf="puntoPartida" class="col col-md-4">
      <hasta [puntoout]="puntoDestino" (cambio)="cambiaDestino($event)"></hasta>
    </div>
    <div *ngIf="puntoDestino" class="col col-md-4">
      <p>
        El punto de partida es: {{puntoPartida}}
      </p>
      <p>
        El punto de destino es: {{puntoDestino}}
      </p>
      <button class="btn btn-primary" (click)="checkTransporte()" type="button" name="button">Buscar Transporte Disponible</button>
    </div>
  </div>
  <div class="row">
    <transporte ></transporte>
  </div>
  <div class="row">
    <detalles></detalles>
  </div>
  <a href="https://www.linkedin.com/in/darrieta05/">Daniel Arrieta</a>
   -
  <a href="https://www.linkedin.com/in/johnn-brown/">John Brown</a>
</div>
