<div *ngIf="ruta" class="detalles row">
  <h1>Detalles de la Ruta</h1>
  <ul class="list-group">
    <li class="list-group-item">Distancia: {{ruta?.Distancia}} metros</li>
    <li class="list-group-item">Duración: {{ruta?.Duracion}} minutos</li>
    <h2>Pasos:</h2>
    <li *ngFor="let punto of ruta?.Ruta" class="list-group-item">{{punto}}</li>
    <li class="list-group-item">Tarifa: {{ruta?.Tarifa}}</li>
    <li class="list-group-item">Transporte: {{ruta?.Transporte}}</li>
    <h2 >Taxis Disponibles: </h2>
    <li *ngFor="let taxi of ruta?.Taxis_disponibles" class="list-group-item">
      <ul class="list-group col-md-4">
        <li class="list-group-item">Compañía: {{taxi?.compania}}</li>
        <li class="list-group-item">Conductor: {{taxi?.conductor}}</li>
        <li class="list-group-item">Contacto: {{taxi?.contacto}}</li>
        <li class="list-group-item">Conductor: {{taxi?.id_conductor}}</li>
        <li class="list-group-item">Placa: {{taxi?.placa}}</li>
        <li class="list-group-item">Precio del Km: {{taxi?.precio_kilometro}}</li>
        <li class="list-group-item">Tarifa Base: {{taxi?.tarifa_base}}</li>
      </ul>
    </li>
  </ul>
</div>
