@import url(https://fonts.googleapis.com/css?family=Lato)

$font-stack: 'Lato', sans-serif
$header-font-color: #000
$primary-color: #2a2828
$secondary-color: #494846
$third-color: #d68e2f
$fourth-color: #8e90f4
$shadow-color: #333331
