@import _variables

$borde: 2px solid $fourth-color
$shadow: 2px 2px 1px $shadow-color

*
  text-align: center

body
  width: 100%
  align-content: center
  color: $primary-color

h1, h2, h3, h4, h5, h6
  font-family: $font-stack
  font-size: 250%

p
  font-family: $font-stack
  color: $secondary-color

h3
  color: $third-color

.container
  margin-bottom: 2rem
  box-shadow: $shadow
  border: $borde
  border-radius: 30px
