@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  text-align: center; }

body {
  width: 100%;
  align-content: center;
  color: #2a2828; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-size: 250%; }

p {
  font-family: "Lato", sans-serif;
  color: #494846; }

h3 {
  color: #d68e2f; }

.container {
  margin-bottom: 2rem;
  box-shadow: 2px 2px 1px #333331;
  border: 2px solid #8e90f4;
  border-radius: 30px; }

.formulario {
  text-align: left;
  margin-top: 5%;
  background-color: rgba(222, 228, 219, 0.51); }
